body {
    color: #FFF0CE;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.top {
    margin-top: -46px;
    background-color: #FFF7D4;
    height: 791px;

}

.top-cloud {
    padding-top: 71px;
    position: absolute;
    right: 125px;
}
.bottom-cloud {
position: absolute;
left: 176px;
height: 150px;
width:150px

}

.headd {
    font-size: 1.5em;
}
h1 {
    
    color: #653614;
    font-size: 6rem;
    padding-top: 105px;
    margin: 50px auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #653614;
    margin: 50 auto 50 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    
}

p {
    font-weight: bold;
    color: #653614;
    margin: 50 auto 50 auto;
    font-size: .7rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.middle-container {
    background-color: #B1C381;
}

.bottom-container {
    background-color: #EEC759;
}

hr {
    border-style: dotted none none none;
    width: 20%;
    border-width: thick;
    margin: 69px auto;

}

.con {
    font-size: 1rem;
    margin: 40px auto 60px;
    width: 40%;
}
.mountain {
    position: relative;
    bottom: -85px;
    width: 700px;
}

.skill-row {
    
    text-align: left;
width: 60%;
margin: 100px auto 100px auto; 
}

.sam {
    
}

.ski {
    margin: 200 auto;
}

.lol {
    width: 25%;
    float: left;
    margin-right: 20px;
}

.non {
    width: 25%;
    float: right;
    margin-left: 20px;
}

.profile {
    padding-top: 100px;
}

.intro {
    width: 50%;
    margin: auto;
    font-size: 1rem;
}


.btn{
    position: relative;
    bottom: -20px;
    width: 127px;
margin: auto;
font-family:monospace;
font-weight: 50;
font-size: 1.4rem;
color: #000000b2;
background-color: #fff7d4;
padding: 11px;
box-shadow: rgb(97, 49, 49) 5px 5px 25px 5px;
border-radius: 50px 20px 50px 21px;
transition : 526ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor:pointer;
text-transform: lowercase;
}

.btn:hover{

transition : 526ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #613131;
color: #b1c381;

}

.bottom-container {
    padding: 50px 0 50px 0;
}

a {
    color: #613131;
    font-family:monospace;
    font-size: 1.4rem;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #FFF0CE;
}

.copyright {
    color: #FFF7D4;
    font-size: 1rem;
    margin-top: 60px;
}